* {
    // outline: 1px solid red;
}

#root {
  margin-inline: auto;
  max-width: 1500px;
  position: relative;
}

body {
    background-color: var(--pink-1);
}

.contains__nav__desktop {
    display: flex;
}

main {
    padding: var(--spacing);
    width: 100%;
    // overscroll-behavior: ;
    flex-grow: 1;
}

header.main {
    padding-block: var(--spacing);
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, var(--pink-1) 80%, transparent 100%);
    z-index: 999;
}

header {
    position: fixed;
}

h1, h2, h3 {
    font-family: filson-soft, system-ui, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.subheading {
    font-size: 1rem;
    color: var(--grey-5);
    margin-bottom: 10px;
}

.dismiss-button {
    background: none;
    border: none;
    font-family: filson-soft, system-ui, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--pink-7);
}

.exit-link {
    font-family: filson-soft, system-ui, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--red-2);
}

.circle {
    aspect-ratio: 1;
    background-color: var(--green-3);
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    // display: none;
}

#portal-root {
    position: relative;
    z-index: 9999;
}

.toast {
    position: fixed;
    z-index: 9999;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(-60px);
    padding: 15px 30px;
    background: var(--white);
    border-radius: 9999px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    color: var(--grey-7);
    opacity: 0;
}

.toast.error {
    background: var(--red-2);
    color: var(--white);
    font-weight: 700;
}

.splash {
    width: 100%;
    height: 100vh;
    background: var(--pink-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    img {
        width: 150px;
    }

    sl-spinner {
        font-size: 2rem;
    }
}

.mobile-only {
    display: none !important;
}

sl-spinner {
    --indicator-color: var(--white);
}

@media (width < 1024px) {

    body:has(.contains__nav__desktop) {
        overflow: hidden;
    }

    header.main {
        margin-top: 0;
        padding-bottom: calc(2 * var(--spacing));
        width: calc(100% + 2 * var(--spacing));
    }

    .circle {
        display: none;
    }

    .mobile-only {
        display: block !important;
    }

    .desktop-only {
        display: none !important;
    }
}

.wiggling {
    --amount: 10px;
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 50%, 90% {
        transform: translateX(var(--amount));
    }
    30%, 70% {
        transform: translateX(calc(-1 * var(--amount)));
    }
}