.close__lesson {

    &--footer {

        width: 50%;
        text-align: center;
        margin-inline: auto;
    }

    @media (width < 600px) {
        &--footer {
            width: 100%;
        }
    }
}