.delete__account {

    form {
        margin-top: 30px;
    }
    
    .input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        padding-left: 2px;
        width: 50%;
    }

    .input-group:not(:last-of-type) {
        margin-bottom: 15px;
    }
    
    label {
        font-weight: 700;
        margin: 0;
    }

    input {
        border-radius: 9999px;
        border: solid var(--grey-3) 2px;
        background: none;
        padding: 5px 15px;
        width: 100%;
    }

    .footer {
        width: 50%;
        margin: auto;
    }
}