.profile.edit {

    header.main {
        
        position: sticky;
        width: calc(100% + 2 * var(--spacing));
        margin-inline: calc(-1 * var(--spacing));

        &>div {
            display: flex;
            align-items: center;
            gap: 30px;
            position: absolute;
            right: var(--spacing);
            top: 50%;
            transform: translateY(-50%);
            z-index: 9999;

            button {
                margin-block: 30px;
            }

            a {
                color: var(--pink-8);
                font-family: 'filson-soft', system-ui, sans-serif;
                font-weight: bold;
            }

            .save {
                border: 4px solid var(--pink-8);
                color: var(--pink-8);
                border-radius: 10px;
                padding: 5px 10px;
                font-weight: 700;
                background: none;
            }
        }
    }

    .profile__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .editprofile__frame.profilepic {
        
        div {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        input[type="file"]{
            display: none;
        }

        .avatar-button {
            font-family: 'basic-sans', system-ui, sans-serif;
            padding: 5px 10px;
            background: var(--white);
            outline: 1px solid var(--grey-3);
            border-radius: 9999px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    

    .editprofile__frame {
        display: flex;
        flex-direction: column;
        gap: 10px;

        sl-avatar {
            --size: 90px;
        }

        .subheading {
            margin-bottom: 0;
        }

        label {
            font-weight: 700;
            font-family: 'filson-soft', system-ui, sans-serif;
        }

        input:not([type="file"]) {
            align-self: flex-start;
            width: 450px;
            max-width: 100%;
            padding: 10px 15px;
            border-radius: 9999px;
            border: 2px solid var(--grey-3);
            background-color: var(--white);
            font-size: 1rem;
        }
    }

    hr {
        margin-block: 60px;
        border: none;
        height: 4px;
        background: var(--grey-3);
        border-radius: 9999px;
    }

    .editprofile__frame.delete {

        padding: 2rem;
        border: 4px solid var(--red-1);
        border-radius: 20px;

        h3 {
            color: var(--red-3);
        }
    }

    #submit-btn {
        display: none;
    }

    @media (width < 1024px) {
        header.main .popping-button {
            display: none;
        }
    }

    @media (width < 600px) {

        header.main {
            justify-content: space-between;
        }

        header.main > div {
            position: static;
            transform: none;
            // flex-direction: column;
            gap: 10px;
            flex-wrap: wrap;

            button {
                margin: 0;
                // order: -1;
            }
        }
    }
    
}