.learn {

    h1 {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    main {
        padding-top: 0;
        overflow: scroll;
        height: 100vh;
        overscroll-behavior: contain;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .lessons {
        width: 50%;
        padding-top: 4px;
        flex-shrink: 0;
    }

    .mascot {
        max-height: 100vh;
        max-width: 25vw;
        align-self: flex-start;
    }
    .circle-1 {
        width: 500px;
        bottom: 0;
        left: 0;
        transform: translate(-30%, 50%);
    }

    .circle-2 {
        width: 200px;
        top: 0;
        right: 0;
        z-index: 1000;
        transform: translate(50%, -50%);
    }

    @media (width < 1024px) {
        .lessons {
            padding-bottom: 90px;
        }
        .mascot {
            position: static;
            transform: none;
            max-width: 50%;
            max-height: 70vh;
            max-width: unset;
            z-index: unset;
        }
    }

    @media (width < 1024px) {
        main {
            padding-top: 0;
        }

        header.main {
            padding: calc(2 * var(--spacing)) var(--spacing);
            margin-inline: calc(-1 * var(--spacing));
            top: calc(-1 * var(--spacing));
            width: calc(100% + 2 * var(--spacing));
        }
    }

    @media (width < 750px) {

        .lessons {
            width: 100%;
        }

        .mascot {
            display: none;
        }
    }

    @media (width < 600px) {
        header.main {
            padding-block: calc(4 * var(--spacing));
            top: calc(-2 * var(--spacing));
        }
    }
}