.lesson__header {

    width: 100%;
    padding: 30px calc(2*var(--spacing));
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 45px;
    position: sticky;
    z-index: 9999;
    border-bottom: 2px solid var(--grey-2);
    top: 0;
    background-color: var(--pink-1);

    button, a {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;

        svg {
            width: 24px;
        }
    }

    progress {
        flex-grow: 1;
        accent-color: var(--green-8);
        background-color:var(--green-4);//mozilla

        //Get rid of website stylesheet
        //Weird green grey progressbar
        -webkit-appearence: none;
        border-radius: 100px;
        overflow: hidden;
    }

    //Set the background color for progress
    progress::-webkit-progress-bar {
        background-color: var(--green-4);
        border-radius: 100px; 
        overflow: hidden;
    }

    // set the progress value color
    progress::-webkit-progress-value {
        background-color: var(--green-8);
        border-radius: 100px; 
    }

    //set the progress value color for FF
    progress::-moz-progress-bar {
        background-color: var(--green-8);
    }

    @media (width < 600px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        progress {
            width: 100%;
        }
    }
}