.onboarding__frame {
    display: flex;
    align-items: center;
    gap: 120px;
    scroll-snap-align: center;

    h1 {
        color: var(--pink-7);
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    img {
        width: 350px;
        max-width: 30%;
    }

    button, a {
        margin-top: 60px;

        &:hover {
            margin-top: 56px !important;
        }

        &:active {
            margin-top: 64px !important;
        }
    }

    @media (width < 1024px) {
        flex-direction: column;
        gap: 45px;
        

        img {
            width: min(200px, 100%);
            max-width: unset;
        }

        h1 {
            text-align: center;
        }

        p {
            font-size: 1rem;
            text-align: center;
            width: min(100%, 400px);
            margin-inline: auto;
        }

        button {
            margin-inline: auto;
        }
    }
}