.revise__title {
    display: block;
    width: 50%;
    padding: 4px 4px 8px 4px;
    border-radius: 15px;
    background: var(--green-6);
    transition: margin-top 0.1s, padding 0.1s;
    color: var(--green-8);
    
    &:hover {
        padding-bottom: 12px;
        margin-top: -4px;
    }
    
    &:active {
        padding-bottom: 4px;
        margin-top: 4px;
    }
    
    .inner {
        border-radius: 11px;
        background: var(--green-2);
        padding: 12px 20px;
        display: flex;
        gap: 20px;
        
        h3 {
            align-self: center;
            font-family: 'basic-sans', system-ui, sans-serif;
            font-weight: 700;
            font-size: 1.25rem;
        }
    }

    @media (width < 1024px) {
        width: 100%;
    }
}