.revise-concept {

    main {
        header a {
            margin-bottom: 10px;
            display: block;
            color: var(--grey-5);
            display: flex;
            gap: 5px;
            align-items: center;
        }
        h2 {
            margin-bottom: 20px;
        }
        .revise-module .paragraphs p {
            margin-bottom: 20px;
            max-width: 50%;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding-block: 30px 60px;
        }
        a {
            margin-inline: auto;
        }
        
    }

}