.signinup-header {
    position: fixed;
    width: 100%;
    padding: calc(var(--spacing) / 2) var(--spacing);
    z-index: 1;

    @media (width < 1024px) {
        position: static;
    }

    @media (width < 600px) {
        padding: var(--spacing);
    }
}

.signinup {

    display: flex;
    padding: 0;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: calc(50vw - 750px + 1%);
        height: 100%;
        right: 99%;
        top: 0;
        background: var(--green-3);
        transition: all 0s;
    }

    .signinup_form_container {
        background-color: var(--green-3);
        width: 50%;
        min-height: 100vh;

        mask-image: url('../assets/mask-curve.svg');
        mask-repeat: no-repeat;
        mask-position: 0 0;
        mask-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--spacing);

        &::after {
            

        }

        h2 {
            font-size: var(--subtitles);
            margin-bottom: 60px;
            width: 60%;
            color: var(--pink-7);
        }

        form {
            width: 60%;
        }

        .form-group {
            width: 100%;
        }

        label {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: bold;
            color: var(--green-8);
        }

        input {
            width: 100%;
            height: 35px;
            border-radius: 10px;
            border: 1px solid var(--green-8);
            margin-bottom: 20px;
            padding-inline: 10px;
            font-size: 1rem;
        }

        button {
            width: 100%;
            font-size: 1rem;
            margin-top: 60px;

            &:hover {
                margin-top: 56px;
            }

            &:active {
                margin-top: 64px;
            }
        }

        .signinup-prompt {
            text-align: center;
            margin-top: 10px;
        }
        
        a {
            text-decoration: underline;
            color: var(--pink-7);
            font-weight: bold;
        }
    }

    .image-container {
        width: 50%;
        display: grid;
        place-items: center;
    }

    @media (width < 1024px) {
        flex-direction: column;
        min-height: 100vh;

        .signinup_form_container, .image-container {
            width: 100%;
            min-height: unset;
        }

        .signinup_form_container {
            mask-image: unset;
            border-radius: var(--spacing) var(--spacing) 0 0;
            padding-block: calc(2 * var(--spacing));
            flex-grow: 1;
            justify-content: flex-start;

            &::after {
                content: "";

            }
        }

        h2, form {
            margin-inline: auto;
        }
        
        .image-container {
            order: -1;
            width: 200px;
            max-width: calc(100% - 2*var(--spacing));
            aspect-ratio: 2;
            overflow: hidden;
            margin-inline: auto;

            img {
                width: 100%;
            }
        }
    } 

    @media (width < 600px) {
        
        .signinup_form_container {

            form, h2 {
                width: 90%;
            }
        }
    }
}

