* {
    // outline: 1px solid red;
}

.welcome {

    padding-inline: calc(2*var(--spacing));

        .circle-1 {
            width: 500px;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }

        .circle-2 {
            width: 100px;
            top: 0;
            transform: translateY(-50%);
            left: 280px;
        }

        .circle-3 {
            width: 400px;
            bottom: 0;
            right: 0;
            transform: translate(20%, 50%);
        }

    h1 {
        color: var(--pink-7);
        font-size: var(--titles);
        text-align: center;
    }

    .cards__container {
        overflow: hidden;
        mask-image: linear-gradient(90deg, transparent 5%, red 25%, red 75%, transparent 95%);
        padding-block: var(--spacing);
        margin-inline: calc(-2 * var(--spacing));
        width: calc(100% + 4*var(--spacing));
    }


    .cards__container__inner {
        display: flex;
        gap: 20px;

        &.scrolling {
            animation-name: scrolling;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    .welcome__card {
        flex-shrink: 0;
    }

    .popping-button {
        margin-inline: auto;
    }

    .signin {
        font-family: filson-soft, system-ui, sans-serif;
        font-weight: 700;
        color: var(--pink-7);
        text-align: center;
        display: block;
    }

    @media (width < 600px) {
        padding: calc(2*var(--spacing));
    }
}

@keyframes scrolling {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-10 * (170px)));
    }
}