:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: basic-sans, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
}
html {
  // overscroll-behavior: none;
}

body {
  min-height: 100vh;
}

button, a {
  cursor: pointer;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus-visible, input:not([type="file"]):focus-visible {
  outline: 2px solid var(--pink-4);
}


.test {
  outline: 1px solid red;
  width: 100px;
  height: 100px;
}